@model cwagnerBugTracker.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ticket Details</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Assigned to
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.AssignToUser.FullName)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Created by
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.CreatedBy.FullName)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Project.Title)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Project.Title)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketPriority)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.TicketPriority)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketStatus)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.TicketStatus)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketType)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.TicketType)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Description)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Created)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Updated)
                            </td>
                        </tr>
                    </table>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>

@*COMMENTS*@
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Comments</h4>
                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("CreateComment", "Tickets", new { TicketId = Model.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="text" id="Body" name="Body" class="form-control" placeholder="Add a comment" />
                            <div class="price-row field text-center">
                                <button class="btn btn-success waves-effect waves-light m-t-20" type="submit">Submit</button>
                            </div>
                        </div>
                    }
                }
                <br />
                @foreach (var item in Model.Comments)
                {
                    <div class="row" data-id="@item.Id">
                        <article id="01" class="post-block col-sm-12 post hentry"
                                 data-animation-origin="top"
                                 data-animation-duration="500"
                                 data-animation-delay="500"
                                 data-animation-distance="30px">
                            <div id="comment-body-@item.Id">
                                <p>@item.Body</p>
                            </div>
                            @*EDIT COMMENT*@
                            <div id="editForm-@item.Id" style="display:none;">
                                @using (Html.BeginForm("EditComment", "Tickets", null, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" value="@item.Id" name="Id" />

                                    <div class="form-horizontal">
                                        <div class="wpcf7-form">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="field">
                                                <input type="text" id="Body" name="Body" class="form-control" value="@item.Body" />
                                            </div>
                                            <div class="price-row field text-center">
                                                <button onclick="toggleCommentEdit(@item.Id)" type="button" class="btn waves-effect waves-light m-t-20 btn-light">Cancel</button>
                                                <button type="submit" class="btn btn-success waves-effect waves-light m-t-20">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="post-meta">
                                Posted on: <a class="meta-date">@item.Created.ToString("d")</a>&nbsp;
                                Posted by: <a class="meta-author">@item.Author.FullName</a>&nbsp;
                                <div>
                                    <a href="javascript:void(0)" onclick="toggleCommentEdit(@item.Id)">Edit</a> <span> | </span>
                                    <a href="javascript:void(0)" id="sa-warning" onclick="commentDelete(@item.Id, '@Url.Action("DeleteComment", "Tickets", new { id = item.Id }, null)')">Delete</a>
                                </div>
                            </div>
                            <hr />
                        </article>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Attachments</h4>

                @*FILE UPLOAD*@
                @using (Html.BeginForm("CreateFile", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@Model.Id" name="ticketId" />
                    <input name="image" type="file" class="form-control" required />
                    <div class="price-row field text-center">
                        <button class="btn btn-success waves-effect waves-light m-t-20" type="submit">Submit</button>
                    </div>
                }
                @foreach (var item in Model.Attachments)
                {
                    <div class="row" data-attachment-id="@item.Id">
                        @Html.ActionLink(item.FileName, "Download", "Tickets", new { item.Id }, new { target = "_blank" })
                        <span>&nbsp; | &nbsp;</span>
                        <a href="javascript:void(0)" id="sa-warning" onclick="attachmentDelete(@item.Id, '@Url.Action("DeleteAttachment", "Tickets", new { id = item.Id }, null)')">Delete</a>
                    </div>
                }
            </div>
        </div>
    </div>
    @*TICKET HISTORY*@
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ticket History</h4>
                <div class="table-responsive m-t-40">
                    <table class="table table-bordered table-striped" id="ticketHistoryTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Edited On
                                </th>
                                <th>
                                    Edited By
                                </th>
                                <th>
                                    Changes
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var history in Model.Histories)
                            {
                                <tr>
                                    <td>@history.Created.ToString("d")</td>
                                    <td>@history.Author.FullName</td>
                                    <td>
                                        @foreach (var change in history.Changes)
                                        {
                                            @($"{change.Property} changed from {change.OldValue} to {change.NewValue}")
                                            <br />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/javascript/editDeleteComments.js"></script>

    <script>
        $(document).ready(function () {
            $('#ticketHistoryTable').DataTable({
                responsive: true
            });
        });
    </script>
}

