@model cwagnerBugTracker.Models.Project

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Details</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Created)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Description)
                            </td>
                        </tr>
                    </table>
                </div>
                <p>
                    @if (User.IsInRole(Domain.Roles.Admin) || User.IsInRole(Domain.Roles.ProjectManager))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span> | </span>
                            @Html.ActionLink("Back to List", "Index");
                    }
                    else if (User.IsInRole(Domain.Roles.Submitter))
                    {
                        @Html.ActionLink("Create Ticket", "Create", "Tickets", new { id = Model.Id }, null) <span> | </span>
                            @Html.ActionLink("Back to List", "Index");
                    }
                    else
                    {
                        @Html.ActionLink("Back to List", "Index");
                    }
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title">On this project:</h4>
                    @foreach (var user in Model.Users)
                    {
                        @user.FullName<br />
                    }
                </div>
                @if (User.IsInRole(Domain.Roles.Admin) || User.IsInRole(Domain.Roles.ProjectManager))
                {
                    @Html.ActionLink("Edit Users", "EditProjectUsers", new { id = Model.Id })
                }
            </div>
        </div>
    </div>
</div>